@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to GameHub</h1>
        <p class="lead">Explore the game catalog and manage your library.</p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Games")" role="button">Browse Games</a></p>
    </div>
</div>